{% extends 'base.html' %}

{% block inline-style %}
{{ block.super }}
<style>
    h3 {
        margin-bottom: 30px;
    }
    .section-information {
        margin-bottom: 50px;
    }
    li {
        margin-left: 15px;
    }
</style>
{% endblock inline-style %}

{% block content %}
{% include 'header.html' %}

<div class="container section-information">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Peraturan Peserta</h3>
            <ol style="list-style: decimal;">
                <li>Setiap peserta wajib menaati setiap peraturan dan kebijakan yang telah dibuat oleh juri & panitia.</li>
                <li>Setiap peserta harus menghadiri technical meeting di gedung Grha Sabha Pramana (maksimal 2 orang perwakilan peserta), gladi resik dan acara pembukaan.</li>
                <li>Setiap peserta diwajibkan mengumpulkan KTM ,Fotokopi KTM ,almamater, dan bendera perguruan tinggi saat registrasi peserta.</li>
                <li>Selama pertandingan peserta harus mengenakan kaos peserta dan memakai id card, yaitu pada hari Sabtu, 13 MEI 2017.</li>
                <li>Anggota tim yang diperbolehkan masuk saat pertandingan disesuaikan dengan peraturan masing-masing kategori.</li>
                <li>Memasuki arena lomba harus memakai kaos kaki, kaos peserta, dan id card.</li>
                <li>Setiap peserta tidak diperkenankan memasangkan atribut, stiker atau sarana promosi lain pada robot peserta kontes.</li>
                <li>Setiap peserta perwakilan harus mengenakan jaket almamater dan sepatu pada upacara pembukaan.</li>
                <li>Setiap peserta mengenakan pakaian bebas, rapi dan sopan.</li>
                <li>Setiap peserta harus menghindari hal-hal yang menyebabkan kerusakan fasilitas yang ada dan harus bertanggung jawab jika menjadi penyebab kerusakan.</li>
                <li>Setiap peserta mengenakan id card yang telah diberikan sebagai tanda peserta yang sah selama mengikuti acara</li>
                <li>Setiap peserta wajib menjaga id card tersebut agar tidak hilang.</li>
                <li>Setiap peserta tidak diperkenankan memindah tangankan id card tersebut kepada orang lain.</li>
                <li>Apabila panitia menemukan peserta tidak memakai id card di area pertandingan, maka panitia berhak mengeluarkan peserta dari area pertandingan.</li>
                <li>Setiap peserta bertanggung jawab terhadap kebersihan pitstop dan barang-barang/perlengkapan yang dibawa.</li>
                <li>Kehilangan atau kerusakan barang bawaan bukan menjadi tanggung jawab panitia, termasuk robot yang dipakai dalam pertandingan.</li>
                <li>Setiap peserta diwajibkan untuk memakai daya listrik sesuai tempat yang sudah disediakan panitia.</li>
                <li>Dianjurkan untuk membawa barang-barang/perlengkapan yang seperlunya saja.</li>
                <li>Setiap peserta dilarang membawa barang-barang yang berbahaya, bersifat merusak dan yang dapat menimbulkan kegaduhan sosial.</li>
                <li>Setiap peserta dilarang membawa senjata tajam dan bahan yang mudah meledak.</li>
                <li>Setiap peserta dilarang membawa dan meminum minum-minuman keras.</li>
                <li>Diharapkan dapat mengikuti seluruh rangkaian acara yang diadakan oleh panitia dengan tertib dan senang hati.</li>
                <li>Setiap peserta dapat mengambil sertifikat ke panitia setelah berlangsung acara penutupan.</li>
                <li>Setiap peserta tidak diperkenankan merokok di kawasan Universitas Gadjah Mada, termasuk di area pertandingan.</li>
                <li>Setiap peserta wajib menjaga ketertiban, keamanan dan kebersihan lingkungan Universitas Gadjah Mada</li>
                <li>Setiap peserta wajib menaati tata tertib lalu lintas yang berlaku di lingkungan Universitas Gadjah Mada mencakup:  (A). penggunaan 2 (dua) helm dan spion ganda dalam berkendara roda dua; (B) kecepatan kendaraan 20 km/jam. (C) Membawa STNK (D) Mengambil Karcis Kuning di setiap pos SKKK</li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}