<ul class="navigation-list pull-left light-text">
    {% comment %}<li class="navigation-item"><a href="#kri" class="navigation-link">KRI</a></li>{% endcomment %}
    <li class="navigation-item"><a href="{% url 'kri:index' %}#kontes" class="navigation-link">Kontes</a></li>
    <li class="navigation-item"><a href="{% url 'kri:index' %}#jadwal" class="navigation-link">Jadwal</a></li>
    <li class="navigation-item"><a href="{% url 'kri:index' %}#lokasi" class="navigation-link">Lokasi</a></li>

    {% comment %}<li class="navigation-item dropdown">
        <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Acara</a>
        <ul class="dropdown-menu" style="max-height: 468px;">
            <li class="navigation-item">
                <a href="#" class="navigation-link">Galeri</a>
                <a href="#" class="navigation-link">Hasil Pertandingan</a>
                <a href="#" class="navigation-link">Kontes Robot ABU Robocon Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Seni Tari Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Sepak Bola Beroda Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Pemadam Api Indonesia</a>
            </li>
        </ul>
    </li>{% endcomment %}
    <li class="navigation-item dropdown">
        <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Informasi</a>
        <ul class="dropdown-menu" style="max-height: 468px;">
            <li class="navigation-item">
                <a href="{% url 'kri:informasi' 'buku-panduan' %}" class="navigation-link">Buku Panduan</a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'kri:informasi' 'peraturan-peserta' %}" class="navigation-link">Peraturan Peserta</a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'kri:informasi' 'tata-tertib-pers' %}" class="navigation-link">Aturan Pers dan Liputan Kegiatan</a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'kri:informasi' 'tata-tertib-penonton' %}" class="navigation-link">Tata Tertib Penonton</a>
            </li>
        </ul>
    </li>
</ul>

{% if user.is_authenticated %}
{% if user.is_staff %}
<a href="/ksk" class="pull-right buy-btn">Sekretariat</a>
{% elif app == 'participant' %}
<a href="{% url 'participant:logout' %}" class="pull-right buy-btn">Logout</a>
{% else %}
<a href="{% url 'participant:index' %}" class="pull-right buy-btn">Tiket</a>
{% endif %}
{% else %}
<a href="{% url 'participant:index' %}" class="pull-right buy-btn">Tiket</a>
{% endif %}