<ul class="navigation-list pull-left light-text">
    {% comment %}<li class="navigation-item"><a href="#kri" class="navigation-link">KRI</a></li>{% endcomment %}
    <li class="navigation-item"><a href="{% url 'kri:index' %}#kontes" class="navigation-link">Kontes</a></li>
    <li class="navigation-item"><a href="{% url 'kri:index' %}#jadwal" class="navigation-link">Jadwal</a></li>
    <li class="navigation-item"><a href="{% url 'kri:index' %}#lokasi" class="navigation-link">Lokasi</a></li>
    
    {% comment %}<li class="navigation-item dropdown">
        <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Acara</a>
        <ul class="dropdown-menu" style="max-height: 468px;">
            <li class="navigation-item">
                <a href="#" class="navigation-link">Galeri</a>
                <a href="#" class="navigation-link">Hasil Pertandingan</a>
                <a href="#" class="navigation-link">Kontes Robot ABU Robocon Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Seni Tari Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Sepak Bola Beroda Indonesia</a>
                <a href="#" class="navigation-link">Kontes Robot Pemadam Api Indonesia</a>
            </li>
        </ul>
    </li>
    <li class="navigation-item dropdown">
        <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Informasi</a>
        <ul class="dropdown-menu" style="max-height: 468px;">
            <li class="navigation-item">
                <a href="#" class="navigation-link">FAQ</a>
                <a href="#" class="navigation-link">Jadwal</a>
                <a href="#" class="navigation-link">Daftar Peserta KRI 2017</a>
                <a href="#" class="navigation-link">Pariwisata, Hotel, Penginapan</a>
                <a href="#" class="navigation-link">Download</a>
                <a href="#" class="navigation-link">Tiket Penonton</a>
                <a href="#" class="navigation-link">Aturan Pers dan Liputan Kegiatan</a>
            </li>
        </ul>
    </li>{% endcomment %}
</ul>

{% if user.is_authenticated %}
<a href="{% url 'participant:index' %}" class="pull-right buy-btn">Peserta</a>
{% else %}
<a href="{% url 'participant:login' %}" class="pull-right buy-btn">Pendaftaran</a>
{% endif %}